<form class='col' action='/productos' method='post'>
  <div class='form__item m-2'>
    <label for='title' class='form__item--label col-2'>Producto: </label>
    <input
      type='text'
      class='form__item--input'
      placeholder='Producto'
      name='title'
    />
  </div>
  <div class='form__item m-2'>
    <label for='price' class='form__item--label col-2'>Precio: </label>
    <input
      type='text'
      class='form__item--input'
      placeholder='Precio'
      name='price'
    />
  </div>
  <div class='form__item m-2'>
    <label for='url' class='form__item--label col-2'>Imagen: </label>
    <input
      type='text'
      class='form__item--input'
      placeholder='Imagen (Url)'
      name='url'
    />
  </div>
  <div class='form__btns'>
    <button type='submit' class='btn btn-primary mt-5'>Guardar</button>
  </div>
</form>